[submodule "breakout-hardware/tracking"]
	path = breakout-hardware/tracking
	url = https://github.com/richardeoin/parts
[submodule "hardware/partslist"]
	path = hardware/partslist
	url = https://github.com/richardeoin/parts
