---
layout: default
asset_path: assets/
scroll: true
---

<div id="image-highlight" class="fill-page">
  <!-- A grid of interactive circles for the top image -->
  <ul class="ch-grid">
    {% for post in site.posts %}

    <li style="top: {{ post.y }}; left: {{ post.x }}">
      <a href="#{{ post.linkname }}" title="{{ post.title }}">
        <div class="ch-item"><div class="ch-pad"></div></div>
      </a>
 </li>

    {% endfor %}
  </ul>

  <img src="{{ "pico-tracker-apr-2015.jpg" | prepend: page.asset_path }}">
</div>

<div class="container">
  <h1>High Altitude tracking <small>in minature</small></h1>
  <p class="lead">We are the Bristol branch of UKSEDS (UK Students for
  the Exploration and Development of Space). Here's how we build high
  altitude trackers.</p>

  <p>
    You can find the source and design files for this project in our
    <a href="https://github.com/bristol-seds/pico-tracker">Github
    Repository</a>. For exact order codes and suppliers check the
    <a href="https://github.com/bristol-seds/pico-tracker/blob/master/hardware/Parts.md">Parts
    List</a>.
  </p>

  <article class="post-content">
    {% for post in site.posts %}

    <hr/>

    <h2 id="{{ post.linkname }}">{{ post.title }} <small>{{post.tagline}}</small></h2>
    <p class="">{{ post.content }}</p>


    {% endfor %}
  </article>

</div>
