---
layout: default
asset_path: assets/
scroll: true
---

<div id="image-highlight" class="fill-page">
  <!-- A grid of interactive circles for the top image -->
  <ul class="ch-grid">
    {% for post in site.posts %}

    <li style="top: {{ post.y }}; left: {{ post.x }}">
      <a href="#{{ post.linkname }}" title="{{ post.title }}">

        {% if post.software %}
        {% else %}
        <div class="ch-item hardware"><div class="ch-pad"></div></div>
        {% endif %}

      </a>
 </li>

    {% endfor %}
  </ul>

  <img src="{{ "pico-tracker-apr-2015.jpg" | prepend: page.asset_path }}">
</div>

<div class="container">
  <h1>Pico tracker for High Altitude Ballooning</h1>
  <p class="lead">This tracker is used for our High Altitude
  Ballooning projects. It's lightweight so can fly on small balloons.</p>

  <p>
    You can find the source and design files for this project in our
    <a href="https://github.com/bristol-seds/pico-tracker/tree/78ec05c94ab71e52705f0ff389186d28a2218643">Github
    Repository</a>. For exact order codes and suppliers check the
    <a href="https://github.com/bristol-seds/pico-tracker/blob/658076c468c942b24b821abce0444dd99bf14361/hardware/Parts.md">Parts
    List</a>.
  </p>

  <article class="post-content">
    {% for post in site.posts reversed %}

    <hr/>

    <h2 id="{{ post.linkname }}">{{ post.title }} <small>{{post.tagline}}</small></h2>
    <p class="">{{ post.content }}</p>


    {% endfor %}
  </article>

</div>
