<!--[if lt IE 7]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<div class="navbar navbar-default navbar-static-top" style="margin:0">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="{{ "/" | prepend: site.baseurl }}" class="navbar-brand">
        <strong>UBSEDS</strong>
      </a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li>
          <a href="{{ "/projects.html" | prepend: site.baseurl }}">Projects</a>
        </li>
        <li>
          <a href="{{ "/committee.html" | prepend: site.baseurl }}">Committee</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="http://bris.ac.uk">
            University of Bristol 
            <img style="margin-left:5px;" width="20" height="20" src="{{ "/assets/logos/bristol_university_logo.png" | prepend: site.baseurl }}">
          </a>
        </li>
        <li>
          <a href="http://ukseds.org">
            <img height="14" src="{{ "/assets/logos/uksedssmall.png" | prepend: site.baseurl }}">
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
