/**
 * Basic styling
 */
body {
    font-family: $base-font-family;
}
a:hover, a:focus {
  text-decoration: none;
}

/**
* Styling for the top left of the navbar
*/
.navbar-brand strong {
  color: rgb(190,0,0);
}
.navbar-brand strong:hover {
  color: rgb(140,0,0);
}

/**
 * Icons
 */
.icon {
    > svg {
        display: inline;
        width: 16px;
        height: 19px;
        vertical-align: text-bottom;

        path {
            fill: grey;
        }
    }
}

/**
* Carousel
*/
.carousel-max-width-1920 {
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
}
.carousel-max-width-800 {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

/**
* Maps 
*/
.map-canvas {
  height: 400px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

/**
* Charts 
*/

.nvd3 text {
  font: 400 12px 'Open Sans'
}

/**
 * Code formatting
 */
pre,
code {
    border: 1px solid lighten(gray, 40%);
    border-radius: 3px;
    background-color: #eef;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: scroll;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}

/**
 * Committee Page
 */

#committee-gallery img {
  max-width:18rem;
}
#committee-gallery li {
  border: solid white;
  margin: 20px
}
#committee-gallery a {
  padding-right: 1em;
  white-space: nowrap
}

/**
 * Posts
 */
.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}
.post-meta {
    font-size: 16px * 0.875;
    color: gray;
}
.post-link {
  display: block;
  font-size: 24px;
}
.post-header {
  margin-bottom: $spacing-unit;
}
.post-title {
  font-size: 42px;
  letter-spacing: -1px;
  line-height: 1;
}
.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    font-size: 32px;
  }
  h3 {
    font-size: 26px;
  }
  h4 {
    font-size: 20px;
  }
  img {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
  }
}

.glyphicon-warning-sign {
  font-size: 4em;
  color: #f77;
  padding-right: 10px;
  float: right
}
