/**
 * Basic styling
 */
body {
    font-family: $base-font-family;
}
a:hover, a:focus {
  text-decoration: none;
}

/**
* Styling for the top left of the navbar
*/
.navbar-brand strong {
  color: rgb(190,0,0);
}
.navbar-brand strong:hover {
  color: rgb(140,0,0);
}

/**
 * Icons
 */
.icon {
    > svg {
        display: inline;
        width: 16px;
        height: 19px;
        vertical-align: text-bottom;

        path {
            fill: grey;
        }
    }
}

/**
* Carousel
*/
.carousel-max-width-1920 {
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
}
.carousel-max-width-800 {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

/**
* Maps
*/
.map-canvas {
  height: 400px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

/**
* Charts
*/

.nvd3 text {
  font: 400 12px 'Open Sans'
}

/**
 * Code formatting
 */
pre,
code {
    border: 1px solid lighten(gray, 40%);
    border-radius: 3px;
    background-color: #eef;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: scroll;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}


/**
 * Old Notice
 */
.glyphicon-warning-sign {
  font-size: 4em;
  color: #f77;
  padding-right: 10px;
  float: right
}


.fill-page {
width:100%; height:100%;
    position:relative;
}

.fill-page > img {
  display: block;
  max-width: 100%;
  height: auto;
  border: 0px none;
}


/**
 * A grid of interactive circles for the top image
 */
.ch-grid {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  position:absolute;
}
.ch-grid li {
  position: absolute;
  width: 4%;
  display: block;
}
.ch-pad {
        height: 0;
padding-bottom: 100%;
}
.ch-item {
  margin: 10%;
  overflow: hidden;
  position: relative;
  background-image: url(assets/circles.svg);
  background-size: 100%;

  transition: all 0.2s ease-out;
}
.ch-item:hover {
  margin: 0px;
}
