# Backup files
*~
#*#

# gdbscript
gdbscript
gdbscript-custom

# The output directory
out/

# Intermediate compilation files
*.o

# raw backlog data
tools/*rawdata.txt

# Atmel Developement Kit
xdk*

# ETAGS file
TAGS

# CTypesgen
tools/verification/ctypesgen

# Compiled python
*.pyc

# Compile commands
compile_commands.json