# Backup files
*~
#*#

# gdbscript
gdbscript
gdbscript-custom

# The output directory
out/

# Intermediate compilation files
*.o
*.d

# raw backlog data
tools/aprs/rawdata/*rawdata.txt

# aprs-is id
aprs_id

# Atmel Developement Kit
xdk*

# ETAGS file
TAGS

# CTypesgen
tools/verification/ctypesgen

# Compiled python
*.pyc

# Compile commands
compile_commands.json

# Callsigns header
inc/callsigns.h